{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    Todo
{% endblock  %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Todo</li>
{% endblock %}

{% block content %}
    <form action="{% url 'todo_create' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>

    <div class="card">
        <div class="card-header">
            Todo
        </div>
        <ul class="list-group list-group-flush">
            {% for item in items %}
                <li class="list-group-item">
                    {{ item.content }}
                    <span class="float-right">
                        <div class="row">
                            <form style='padding: 0.2em' action="{% url 'todo_archive' todo=item.id %}" method="post">
                                {% csrf_token %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-sm btn-info">Archive</button>
                                {% endbuttons %}
                            </form>
                            <form style='padding: 0.2em' action="{% url 'todo_delete' todo=item.id %}" method="post">
                                {% csrf_token %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-sm btn-warning">Delete</button>
                                {% endbuttons %}
                            </form>
                        </div>
                    </span>
                </li>
            {% empty %}
                <li class="list-group-item disabled">No todo items yet..</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}