{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    History
{% endblock  %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">History</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Todo History
        </div>
        <ul class="list-group list-group-flush">
            {% for item in items %}
                <li class="list-group-item">
                    {{ item.content }}
                </li>
            {% empty %}
                <li class="list-group-item disabled">No todo history yet..</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}